services:
  redis:
    image: redis:7.4
    restart: unless-stopped
    command: >
      redis-server
      --appendonly yes
      --save 900 1
      --save 300 10
      --save 60 10000
      --dir /data
      --dbfilename dump.rdb
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - livekit

  livekit:
    image: livekit/livekit-server:latest
    restart: unless-stopped
    depends_on:
      - redis
    command: ['--config', '/config/livekit.yaml']
    volumes:
      - /opt/greet/config/livekit.yaml:/config/livekit.yaml:ro
    ports:
      - '7880:7880'
      - '7881:7881'
      - '7882:7882'
      - '50000-50100:50000-50100/udp'
    networks:
      - livekit
    extra_hosts:
      - "host.docker.internal:host-gateway"

  sip:
    image: livekit/sip:latest
    restart: unless-stopped
    depends_on:
      - livekit
    network_mode: host
    command: ['--config', '/config/sip.yaml']
    volumes:
      - /opt/greet/config/sip.yaml:/config/sip.yaml:ro
    environment:
      - LK_LOG_LEVEL=debug

  mongodb:
    image: mongo:latest
    container_name: mongodb_vici
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secretpassword
    volumes:
      - mongo_data:/data/db
    networks:
      - livekit

  egress:
    image: livekit/egress:latest
    restart: unless-stopped
    privileged: true
    environment:
      # The | symbol starts a multi-line block
      # Ensure all lines below are indented correctly
      EGRESS_CONFIG_BODY: |
        api_key: "${LIVEKIT_API_KEY}"
        api_secret: "${LIVEKIT_API_SECRET}"
        ws_url: ws://livekit:7880
        redis:
          address: redis:6379
    volumes:
      - ./recordings:/out
    networks:
      - livekit
    depends_on:
      - livekit
      - redis



networks:
  livekit:
    driver: bridge

volumes:
  redis_data:
  mongo_data: