[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "dotenv>=0.9.9",
    "livekit-agents[cartesia,deepgram,openai,silero]~=1.3",
    "redis>=7.1.0",
]
